*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
body{
    background: #b5d7e8;
}
 .card{
    height: 100%;
    background: linear-gradient(135deg, #91d5e6, #022940);
 color: #fff;
 border-radius: 25px;
 padding: 50px 45px;
 text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #d1ebe9;
    color: rgb(11, 18, 18);
    padding: 10px 25px;
    height: 70px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}
.search button{
    border: 0;
    outline: 0;
    background: #f4f8f8;
    border-radius: 60%;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.search button img{
    width: 40px;
}
.weather-icon{
    width: 250px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.weather{
    display: none;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 160px 10px;
    margin-top: 40px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 250px;
}
.humidity, .wind{
    font-size: 40px;
    margin-top: -3px;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 35px;
    margin-top: 10px;
    display: none;
}
